body {
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  /* font-style: normal; */
}

/*отключаем подчеркивание в ссылках*/
a {
  text-decoration: none;
}

/*logo вверху и внизу*/
.logo-web {
  color: #2196f3;
}

.logo.footer {
  color: #ffffff;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.header-menu {
  color: #212121;
  letter-spacing: 0.02em;
  line-height: 1.1;
  font-weight: 500;
}

.header-address {
  color: #757575;
  letter-spacing: 0.02em;
  line-height: 1.1;
  font-weight: 500;
}

.header-menu:hover,
.header-address:hover,
.header-menu:focus,
.header-address:focus {
  color: #2196f3;
}

.hero-h1 {
  color: #ffffff;
  letter-spacing: 0.06em;
  text-align: center;
  line-height: 1.4;
  font-size: 44px;
  font-weight: 900;
}

/*кнопка в герои*/
.hero-button {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.9;
  font-size: 16px;
  font-weight: 700;
  background: #2196f3;
}

/*h2 заголовки в секции*/
.section-name {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #212121;
  line-height: 1.2;
}

/*заголовки h3 в секции о нас*/

.aboutus-headers {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: #212121;
  text-transform: uppercase;
}

/*чем мы занимаемся h3*/
.work-img {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

/* список команды */

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #757575;
}

/* футер */
.footer-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-address {
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.footer-mail,
.footer-telefon {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
/****************** portfolio.html ******************************/
/*кнопки*/
.work-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
}

.work-button:hover,
.work-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/*настройка заголовков h2*/
.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.work-description {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
